body {
margin-top: 0;
background-color: white;
top: 0;
right: 0;
left: 0;
margin-left: 0px;
margin-right: 0px;
margin: 5%;
}
.top a {
color: white;
}
.logIn {
float: right;

}

.logIn a {
z-index: 1001;
}

.top {
background-color: #3942E6;
position: fixed;
right: 0px;
color: white;
width: 100%;
padding: 0;
top: 0;
height: 50px;
}

.first {
position: absolute;
right: 0;
margin-top: 0px;
margin-bottom: 0px;
padding-right: 25px;
top: 15px;
}

.search {
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: center;
top:20%;
position:absolute;
}


img {
width: auto;
height: 18em;
}

.bottom {
margin-left: 5%;
}

.bottom a {
color: black;
}

.logo {
float: left;
width: 50px;
height: auto;
padding-left: 15px;
}
