body {
margin: 0;
background-color: lightblue;

}
.top {
background-color: #BA55D3;
height:100px;
}
.nav {
background-color: rgb(32,32,32);
color: hotpink;
font-size: large;
width: 100%;
font-weight: bolder;
}

ul {
list-style-type:none;
display: inline-flex;
margin: 0;
padding-left: 50%;
padding-right: 5%;
}  

li {
padding: 20px;
}

.bottom {
margin: 10%;


}
a {
margin-left: 90%;
font-size: 1.35em;
font-weight: bolder;
font-family: serif;
color: lightblue;

}
