@CHARSET "ISO-8859-1";
body {
	background-color: #A60000;
   margin-left: 0;
   margin-right: 0;   
}
div.top {
height: 225px;
}
img {
width: 25%;
}
div.line {
height: 75px;
background-color: #679B00;
width: 100%;

}
h1 {
padding-left: 6%;
text-align: center;
}
div.main{
width:100%;
background-color: #55cccc;
height: 550px;
padding-top: 5%;
}
table {
width: 90%;
}
td.have {
width: 75%;
}
input.ingredient{
border-radius: 10px;
width: 50%;
height: 30px;
font-size: 1.3em;
margin-left: 5%;
box-shadow: 2px 2px 3px 3px gray;

}
div.ingredients {
font-weight: bold;
font-size: 1.3em;
text-align: center;
}
div.mainDivL {
	/*border:1px black solid;*/
   box-shadow: 2px 2px 5px 5px gray;
	text-align:center;
	margin:auto;
	height:300px;
	width:90%;
   border-radius: 15px;
	background-color:white;
	/*overflow:scroll;*/
   
}
h2 {
text-align: center;
}

div.mainDivR {
	/*border:1px black solid;*/
   box-shadow: 2px 2px 5px 5px gray;
	text-align:center;
	margin:auto;
	height:300px;
	width:90%;
   border-radius: 15px;
	background-color:white;
	/*overflow:scroll;*/
}



p.mainPR {
	border:1px black solid;
    box-shadow: -10px 10px 5px #888888;
	text-align:center;
	margin:auto;
	height:20px;
	background-color:yellow;
}
 #goback {
   width: initial;
   display: block;
   top: 20px;
}
/*got the following code for the glossy buttons from http://www.hongkiat.com/blog/css3-glossy-effect/ */
input.mainInputR {
	width: 100px;  
    height: 25px;  
  
    margin: 10px auto;  
    position: relative;  
  
    background: #86B22D;  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(31%,#86B22D), color-stop(100%,#639B00));  
    background: -webkit-linear-gradient(top,  #86B22D 31%,#639B00 100%);  
    background: -moz-linear-gradient(top,  #86B22D 31%, #639B00 100%);  
    background: -o-linear-gradient(top,  #86B22D 31%,#639B00 100%);  
    background: -ms-linear-gradient(top,  #86B22D 31%,#639B00 100%);  
    background: linear-gradient(to bottombottom,  #86B22D 31%,#639B00 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86B22D', endColorstr='#639B00',GradientType=0 );  
  
    -webkit-border-radius: 25px;  
    -moz-border-radius: 25px;  
    border-radius: 25px;  
  
    /*border: 1px solid #4864a9;  */
  
    color: #000;  
    font-size: 1em;  
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);  
  
    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);      
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);  
  
    position: relative; 
    width: inherit;
    font-weight: bold;
    display: inherit;
}

input.mainInputL {
	box-shadow: 10px 10px 5px #888888;
	background-color:yellow;
}
#results {
   text-align: left;
}
#carouselh {
    border-left-width: 0px;
    border-right-width: 0px;
}
#demo-wrapper
{
       margin: 0;
       padding: 0;
       width: 100%;
       height: 100%;
       padding: 40px 20px 0px 20px;
   }
   #demo-left
{
       width: 15%;
       float: left;
   }
   #demo-right
{
       width: 100%;
       float: left;
   }
   #hWrapperAuto
{
       margin-top: 20px;
   }
   #demo-tabs
{
       width: 100%;
       height: 50px;
       color: White;
       margin: 0;
       padding: 0;
   }
   #demo-tabs div.item
{
    height: 35px;
    float: left;
    background-color: #2F2F2F;
    border: solid 1px gray;
    border-bottom: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    text-align: center;
    padding: 10px 4px 4px 4px;
    font-weight: bold;
}
#contents
{
    width: 100%;
    margin: 0;
    padding: 0;
    color: White;
    font: arial;
    font-size: 11pt;
}
#demo-tabs div.item.active-tab
{
    background-color: Black;
}
#demo-tabs div.item.active-tabc
{
    background-color: Black;
}
#v1, #v2
{
    margin: 20px;
}
.visible
{
    display: block;
}
.hidden
{
    display: none;
}
#oldWrapper
{
    margin-left: 100px;
}
#contents a
{
    color: yellow;
}
#contents a:hover
{
    text-decoration: none;
    color: Gray;
}
.heading
{
    font-size: 20pt;
    font-weight: bold;
}