body {
width:5.5in;
height: 4.25in;
font-size: 11px;
}

h1 {
font-size: 12px;
}
h2 {
font-size: 12px;
}

.smallerText {
font-size: 11px;
}
.header {
}
table


.bold {

}

.finish {
font-size: 13px;
}
.first {
width: 2.3 in;
border-right: 1px solid black;
}

.second {
width: 2.8in;
}